<section class="content-show-product">
  <div class="container-fluid show-product-main">
    <div class="row show-product-row">
      <div class="col-xs-6 col-sm-6 col-lg-4 col-xl-4 show-image-col">
        <%= image_tag(@product.image_url, class: "img-fluid product-show-image") %>
      </div>
      <div class="col show-product-col">
         <div class="product-edit-title"
           <h5><%= @product.name %><h5>
         </div>
         <p>
           Price:
           <%= @product.price %>
         </p>
         <p>
           <strong>Description:</strong>
           <%= @product.description %>
        </p>
        <p>
           <%= @product.highest_rating_comment %>
        </p>
        <%= link_to 'Edit', edit_product_path(@product) %> |
        <%= link_to 'Back', products_path %>
      </div>
    </div>
  </div>
</section>
